.parent {

    display: grid;

    grid-template-columns: 33.3% 33.3% 33.3%;
    row-gap: 20px;
    column-gap: 20px;

}





.box,
.bor,
.boe {

    height: auto;
    border: 1px solid black;
    background-color: silver;
    display: table-cell;

}


.a {
    width: auto;
    height: auto;
    margin-right: 70%;
    margin-top: -4%;
    margin-bottom: 3px;
    text-align: center;
    color: black;
    font-size: 17px;
    border: 1px solid black;
    background-color: purple;
}

.b {
    width: auto;
    height: auto;
    margin-bottom: 3px;
    margin-right: 70%;
    margin-top: -4%;
    text-align: center;
    color: black;
    font-size: 17px;
    border: 1px solid black;
    background-color: red;

}

.c {
    width: auto;
    height: auto;
    margin-right: 70%;
    margin-bottom: 3px;
    margin-top: -4%;
    text-align: center;
    color: black;
    font-size: 17px;
    border: 1px solid black;

    background-color: yellow;
}

.v {
    width: auto;
    height: auto;
    margin-right: 70%;
    margin-top: -0%;
    text-align: center;
    color: black;
    font-size: 17px;
    border: 1px solid black;

    background-color: purple;
}

.n {
    width: auto;
    height: auto;
    margin-right: 70%;
    margin-top: 0%;
    text-align: center;
    color: black;
    font-size: 17px;
    border: 1px solid black;

    background-color: yellow;
}

.m {
    width: auto;
    height: auto;
    margin-right: 70%;
    margin-top: 0%;
    text-align: center;
    color: black;
    font-size: 17px;
    border: 1px solid black;

    background-color: yellow;
}


.x {
    width: 30%;
    font-size: 40px;
    margin-bottom: 1%;
}

.y {
    background-color: blueviolet;
    margin-left: 2%;
    margin-right: 400px;
    margin-bottom: 0%;
}

@media screen and (min-width:800px)and(max-width: 1200px) {
    .parent {
        display: grid;

        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .parent {
        display: grid;

        grid-template-columns: 100%;
    }
}

@media screen and (min-width:600px) and (max-width: 800px) {
    .parent {
        display: grid;

        grid-template-columns: 50% 50%;

    }

}